/* patients.component.css */
.patients-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Abstand zwischen Suchfeld und Button */

  >button{
    :hover {
      cursor: pointer !important;
    }
  }
}

.search-field {
  width: 300px;
}

.add-button {
  height: 80px;
  padding: 0 15px;
  font-size: 14px;

  > :hover {
    cursor: pointer;
  }
}

table {
  width: 100%;
  max-width: 900px;
  margin-bottom: 20px;
}

.no-data {
  text-align: center;
  font-style: italic;
  color: #777;
}

.mat-elevation-z8 {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
              0px 8px 10px 1px rgba(0, 0, 0, 0.14),
              0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

th.mat-header-cell {
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

td.mat-cell {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.clickable-row {
  cursor: pointer;
}
.clickable-row:hover {
  background-color: #f0f0f0;
}


/* Responsive Design */
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .search-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 5px;
  }

  .search-field {
    width: 100%;
    max-width: 300px;
  }

  table {
    display: block;
    overflow-x: auto;
  }
}
