<div class="dashboard">
    <h1>Versicherungsverwaltung</h1>
    
    <div class="dashboard-grid">
      <div class="dashboard-card">
        <h2>Versicherte</h2>
        <p>Anzahl: 0</p>
      </div>
  
      <div class="dashboard-card">
        <h2>Monatliche Einnahmen</h2>
        <p>0 Peso</p>
      </div>
  
      <div class="dashboard-card">
        <h2>Bezahlte Rechnungen</h2>
        <p>0 Peso</p>
      </div>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="openAddCustomerDialog()">
    Neuen Kunden hinzufügen
  </button>
  